Package: weavedconnectd
Version: 1.3-07e
Section: non-free/net
Priority: optional
Homepage: http://remot3.it
Architecture: armel
Depends: libc6 (>= 2.1), mawk (>= 1.0), grep (>= 2.1.6), curl (>= 7.25.0), psmisc (>= 22.19-1), cron (>= 3.0pl1-124)
Maintainer: Gary Worsham <gary@weaved.com>
Description: remot3.it provides private, secure connections to tcp services.
 Use remot3.it to connect easily, privately, and securely to your networked 
 devices across the public Internet without port forwarding. remot3.it is 
 compatible with most devices that include a TCP/IP stack.  The remot3.it 
 APIs and portal allow for easy 'bulk' management of multiple devices in 
 the field through a "one-to-many" command line interface.
 .
 See https://remot3.it for more details.

